.searchBox{
    background-color: aliceblue;
    height: 2rem;
    /* width: 600px; */
    width: 30rem;
    border: none;
    padding:1.3rem;
    border-radius: 2px;
}


@media (max-width: 812px) {
    .searchBox {
        width: 100%;
        margin-top: 0.8rem;
    }
}