.main-container{
    background-color: white;
    width: 65%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1%;
    border-radius: 4px;
}

@media (max-width: 812px) {
    .main-container{
        max-width: 100%;
        width: 100%;
        padding: 0;
    } 
}
