.publicity-box{
    position:absolute;
    right: 0;
    left: 0;
    margin-top: 5rem;
    width: 100%;
}
.publicity{
    width: 80%;
    margin: 0 auto;
    height: 15rem;
    background-color: #271F27;
}

@media (max-width: 813px) {
    .publicity-box {
        display: none;
    }   
}